version: '2'
services:
  s3proxy:
    cpu_shares: 3500
    mem_limit: 3500m
    build: ./
    environment:
      CACHE_TIME: "10y"
      CACHE_SIZE: "500g"
      SERVER_NAME: "dumps.commonsearch.org"
      S3_BUCKET: "dumps.commonsearch.org"
      REGION: "external-1"
      AWS_ACCESS_KEY_ID: "<some-access-key>"
      AWS_SECRET_ACCESS_KEY: "<some-secret-key>"
    ports:
      - "80:80"
    volumes:
      - /data/cache:/data/cache